/.direnv
__pycache__
/*.ankiaddon
/meta.json
/kanjidic2.xml
/kanji_bank_1.json
/kanjidic-onyomi.json
/kanji-onyomi.json
/phonetics.json
/hanziweb.min.css
/hanziweb.min.html
/hanziweb.init.js
/hanziweb.min.js
